* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
}

span {
  user-select: none;
}

#container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 40vh; /* 40vh */
  height: 50vh;
  border-radius: 1vh;
  background-color: white;
}

#waiting-container,
#stopped-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


#waiting-counter,
#stopped-counter {
  position: absolute;
  top: -300%;
  border-radius: 50%;
  padding: 2px 5px;
  white-space: nowrap;
}

.ball {
  position: absolute;
  border-radius: 100%;
  background-color: #ff0000;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, .5), 15px 15px 2px rgba(0, 0, 0, .05);
}

.element {
  position: absolute;
}
.box {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.triangle {
  position: absolute;
  width: 0;
  height: 0;
}
.bonus-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
.bonus-balls-circle {
  background-color: #690101;
}
.bonus-balls-circle > span {
  color: #FFFFFF;
}
.laser-circle {
  background-color: #009002;
}
.laser-circle > span {
  color: #FFFFFF;
}


.counter_container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter_container > span {
  width: 50%;
  text-align: center;
}

/* Positioning for different triangle orientations */
.triangle-RB .counter_container {
  transform: translateX(-100%);
}

.triangle-LB .counter_container {
  
}

.triangle-RT .counter_container {
  transform: translate(-100%, -100%);
}

.triangle-LT .counter_container {
  transform: translateY(-100%);
}


.triangle-RB .counter_container>span {
  transform: translate(50%, 50%);
}

.triangle-LB .counter_container>span {
  transform: translate(-50%, 50%);
}

.triangle-RT .counter_container>span {
  transform: translate(50%, -50%);
}

.triangle-LT .counter_container>span {
  transform: translate(-50%, -50%);
}


.moving {
  transition: all .1s linear;
}

#stop-button {
  margin-top: 10px;
}

.trajectory-segment {
  position: absolute;
  border-top: 1px dashed #00ec53;
}

.bottom_game_zone_panel {
  width: 40vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom_game_zone_panel-no_active {
  display: flex;
  height: 100%;
  width: 100%;
}
.bonuses_panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bonuses_panel-bonus {
  width: 15%;
  height: 100%;
}

.scroll_control_button {
  width: 15%;
  height: 100%;
}
.scroll_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.laser-container {
  position: absolute;
  background-color: lightgreen;
  opacity: 0.5;
  z-index: 10;
}